@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0%;
}
/* .hero{
    background-color: blue;
    background-image: url('../../public/1.jpg');
    width: 100%;
    height:70px;
} */